
.fatah-logo {
    margin: 0 auto;
    max-width: 100%;
}
input[type=radio] {
    margin: 5px;
}

.ques {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 28px;
    height: 100vh;
    font-family: serif;
}

#questions {
  margin-top: 30px;
}
.userid {
  width: 40%;
}
.submit-button {
  width: 100%;
}
.btn-dark {
  background-color: #333;
  color: white !important;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
